
#page
{
	font-family:Tahoma, Geneva, sans-serif;
	width:604px;
	margin-left: auto;
	margin-right: auto;
}
#header
{
	border: 2px solid #CC3333;
	border-radius: 15px;
	height:100px;
	margin-bottom: 20px;
}
div > ul
{
border-bottom-left-radius: 10px;
border-bottom-right-radius:10px;
float:bottom;
list-style-type:none;
margin:0;
padding:0;
position: relative;
top:-3px;
overflow:hidden;
}
#username
{
	font-weight:bold;
}
div > ul > li 
{
	float:left;

}
div > ul > li> a
{
	text-align: center;
	color: white;
	font-size: 18px;
	text-decoration: none;
	display: block;
	width:120px;
	background-color:#CC3333;

}
div > ul > li> a:hover
{
	color:black;
}
a:link
{
	text-decoration: none;
}

td, tr {border: 0; text-align: right;}

.blogdiv
{
	border: 2px solid #CC3333;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0;
	width:280px;
	float:left;
	font-size: 12px;
}